<section class="scenter">
  <h1> Sign In ! </h1>

  <%= form_with url: new_signin_path do |form| %>
    <div>
      Email :<br/>
      <%= form.email_field :email, class: "credential" %>
    </div>
    <div>
      Password :<br/>
      <%= form.password_field :password, class: "credential" %>
    </div>
    <%= form.submit "Sign In !", class: "btn_createm" %>
  <% end %>
</section>
