<section align="center">
  <ul class="pad">
    <% menu.menu_items.each do |item| %>
      <div class="inline">
        <a onclick="showUpdateForm(this)" class="cursor-pointer">
        <%= render partial: "item-card", locals: {item: item, menu: menu} %>
        </a>
        <%= render partial: "update-item-form", locals: {menu_id: menu.id, item: item} %>
      </div>
      <script>
        function showUpdateForm(self) {
          form = self.parentElement.getElementsByClassName("item-form")[0]
          form.classList.remove("hidden")
        }
      </script>
    <% end %>
  </ul>
<section>
