<section>
  <h2> Menus </h2>
  <% if @current_user.role == "Owner" %>
    <%= render partial: "owner-menu" %>
  <% elsif @current_user.role == "Customer" %>
    <%= render partial: "customer-menu" %>
  <% end %>
</section>
