<section>
  <ul>
    <% orders = current_user.orders %>
    <% if orders.length > 0 %>
    <% orders.order(delivered_at: :desc).each do |order| %>
      <li class="shadow-md m-5 p-2 text-gray-700 hover:text-black text-xl rounded-md hover:bg-gray-200">
        <b>Ordered on</b> <%= order.date.to_s(:long) %>
        <% if not order.delivered_at.nil? %>
          <b>delivered on</b> <%= order.delivered_at.to_s(:long) %>
        <% end %>
        <br/>
        <ul class="mx-32 my-3">
          <% order.order_items.each do |item| %>
            <li class="flex small_bot_pad px-2 inline-flex text-base leading-5 font-semibold rounded-full bg-green-100 text-green-800"><%= "#{item.menu_item_name} @ Rs #{item.menu_item_price}" %></li>
          <% end %>
        </ul>
      </li>
      <br/>
    <% end %>
    <% else %>
      <h1 class="mx-auto text-2xl text-red-900 bg-red-200 rounded p-2 m-2 text-center w-1/3"> No Order placed by You ! </h1>
    <% end %>
  </ul>
</section>
