<section>
  <h2> Orders </h2>
  <ul>
    <% @current_user.orders.each do |order| %>
      <li>
        <%= @current_user.name %> <b>ordered on</b> <%= order.date.to_s(:long) %>
        <% if not order.delivered_at.nil? %>
          <b>delivered on</b> <%= order.delivered_at.to_s(:long) %>
        <% end %>
        <ul>
          <% order.order_items.each do |item| %>
            <li><%= "#{item.menu_item_name} @ Rs #{item.menu_item_price}" %></li>
          <% end %>
        </ul>
      </li>
      <br/>
    <% end %>
  </ul>
</section>
