<section>
  <h2> Orders </h2>
  <ul>
    <% @current_user.orders.each do |order| %>
      <li>
        <%= @current_user.name %> <%= order.date %>
        <ul>
          <% order.order_items.each do |item| %>
            <li><%= "#{item.menu_item_name} @ Rs #{item.menu_item_price}" %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</section>
