<nav>
  <ul>
    <li>
      <a href="/menus"> Menus </a>
    </li>
    <li>
      <a href="/cart"> Your Cart </a>
    </li>
    <li>
      <a href="/orders"> Your Orders </a>
    </li>
    <li>
      <a href="/signout"> Sign out </a>
    </li>
  </ul>
</nav>
