<nav>
  <ul class="flex disable_list">
    <li class="small_left_pad">
      <a href="/menus"> Menus </a>
    </li>
    <li class="small_left_pad">
      <a href="/carts"> Your Cart (<%= current_user.carts.map {|item| item.quantity }.sum %>) </a>
    </li>
    <li class="small_left_pad">
      <a href="/orders"> Your Orders </a>
    </li>
  </ul>
</nav>
