<nav>
  <ul class="flex disable_list">
    <li class="small_left_pad">
      <a href="/menus"> Menus </a>
    </li>
    <li class="small_left_pad dropdown">
      <a href="/carts" class="dropdown-btn"> Your Cart (<%= current_user.carts.map {|item| item.quantity }.sum %>) </a>
      <%= render partial: "cart-hover" %>
    </li>
    <li class="small_left_pad">
      <a href="/orders"> Your Orders </a>
    </li>
    <li class="small_left_pad">
      <a href="<%= "/users/#{current_user.id}/edit" %>">Edit Your Profile</a>
    </li>
  </ul>
</nav>
