<nav>
  <ul class="flex disable_list">
    <li class="small_left_pad">
      <a href="/users"> Manage Users </a>
    </li>
    <li class="small_left_pad">
      <a href="/menus"> Manage my menu </a>
    </li>
    <li class="small_left_pad">
      <a href="/reports"> Sales Report </a>
    </li>
    <li class="small_left_pad">
      <a href="<%= "/users/#{current_user.id}/edit" %>">Edit Your Profile</a>
    </li>
  </ul>
</nav>
