<nav>
  <ul>
    <li>
      <a href="/users"> Manage Users </a>
    </li>
    <li>
      <a href="/menus"> Manage my menu </a>
    </li>
    <li>
      <a href="/reports"> Sales Report </a>
    </li>
  </ul>
</nav>
