<section>
  <% if is_owner? %>
    <%= render partial: "owner-report", locals: {idate: idate, fdate: fdate} %>
  <% elsif is_clerk? %>
    <%= render partial: "clerk-porders" %>
  <% end %>
</section>
