<section>
  <h2> Orders </h2>
  <% if @current_user.role == "Owner" %>
    <%= render partial: "owner-report" %>
  <% elsif @current_user.role == "Billing Clerk" %>
    <%= render partial: "clerk-porders" %>
  <% end %>
</section>
